
#sokobanGrid{
    position: relative;
    
}

.mapRow{
    display:flex;
    flex-direction:row;
}

.mapColumn{
    height: 48px;
    width: 48px;
    background-color: blue;
    border:1px green solid;
}

.wall{
    height: 48px;
    width: 48px;
    background-color: black;
    border: 1px solid black;
}

.box{
    position: absolute;
    height: 48px;
    width: 48px;
    background-color: lightslategray;
    border: 1px solid darkslategray;
}

.openTarget{
    height: 48px;
    width: 48px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
}

.empty{
    height: 48px;
    width: 48px;
    background-color: white;
    border: 1px solid white;
}

.fullTarget{
    height: 48px;
    width: 48px;
    background-color: yellow;
    border: 1px solid black;
}

#player{
    position: absolute;
    height: 48px;
    width: 48px;
    background-color: Orange;
    border: 1px solid orange;
}